## Core latex/pdflatex auxiliary files:
*.synctex.gz
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.tex

# PDFs
*.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook
.ipynb_checkpoints
